#div1
	{
		width: 300px;
		background-color: #eea;
		margin: auto;
		padding-bottom: 20px;

	}
#div2
{
	width: 260px;
	background-color: #eef;
	margin: auto;
	padding: 10px;

}
ul{
	list-style: none;

}
li{
	height:60px;
	width:60px;
	margin: 5px;
	margin-top: 15px;
	border:solid 1px white;
	text-align: center;
	display: inline-block;
	background-color:transparent;

}
.active{
background-color: #ffb;
}
